# Manifest syntax https://docs.python.org/2/distutils/sourcedist.html
graft wheelhouse

recursive-exclude __pycache__  *.pyc *.pyo *.orig

# Include the README
include *.md

# Include the license file
include LICENSE

# Include the visualisations
recursive-include figures *.jpg

# Include the util scripts
recursive-include bm_dataset *.py
recursive-include bm_experiments *.py

# exclude challenge scripts
exclude bm_ANHIR
recursive-exclude bm_ANHIR *

# Exclude the data files
recursive-exclude data_images *
exclude data_images

# Exclude the method config files
recursive-exclude configs *
exclude configs

# Exclude the documentation files
recursive-exclude docs *
exclude docs

# Exclude the ImageJ macro files
recursive-include scripts *.ijm *.bsh

# Include the Requirements
include requirements.txt

# Exclude build configs
exclude *.yml

prune .git
prune .github
prune venv
prune temp*
prune test*