# Manifest syntax https://docs.python.org/2/distutils/sourcedist.html
graft wheelhouse

recursive-include birl *.py
recursive-exclude __pycache__  *.pyc *.pyo *.orig

# Include the README
include *.md

# Include the license file
include LICENSE

# Include the visualisations
recursive-include figures *.jpg

# Include the util scripts and experiments
recursive-include bm_dataset *.py
recursive-include bm_experiments *.py
recursive-exclude bm_experiments *.sh

# exclude tests from package
recursive-exclude tests *
exclude tests

# Exclude Jupyter notebooks
recursive-exclude notebooks *.ipynb *.txt
exclude notebooks

# Include the data files
recursive-include data_images *

# Include the method config files
recursive-include configs *

# Exclude the documentation files
recursive-exclude docs *
exclude docs

# Exclude the ImageJ macro files
recursive-include scripts *.r *.ijm *.bsh *.py

# Include the Requirements
include requirements.txt

# Exclude build configs
exclude *.yml

prune .git
prune .github
prune notebook*
prune temp*
prune test*
prune bm_ANHIR
prune bm_CIMA
