numpy>=1.13.3
scipy>=1.0
pandas>=0.21
six>=1.10
pillow>=8.1.2
matplotlib>=2.0.2
tqdm>=4.7.4
pyyaml>=3.12
scikit-image>=0.13
opencv-python-headless>=3.4.2.16
openslide-python>=1.0
nibabel>=2.1
SimpleITK
psutil
pathos
