name: Publish Docker Image
# https://www.docker.com/blog/first-docker-github-action-is-here
# https://github.com/docker/build-push-action
on:
  push:
    branches:
      - master

jobs:
  build-push:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        python_version: [3.6, 3.7, 3.8]
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: 3.7

      - name: Build and Publish to Docker Hub
        # publish master
        uses: docker/build-push-action@v1.1.0
        with:
          repository: borda/birl
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          dockerfile: bm_experiments/Dockerfile
          build_args: PYTHON_VERSION=${{ matrix.python_version }}
          tags: "SOTA-py${{ matrix.python_version }}"
        timeout-minutes: 180